body {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.user {
    background-color: rgb(244, 244, 244);
}

.icon {
    border: 2px solid gray;
}

.update-measurements {
    border: 1px solid rgb(201, 158, 75);
    background-color: white;
    color: rgb(201, 158, 75);

}

.update-measurements:hover {
    background-color: rgb(201, 158, 75);
    color: white;
}

.progress-navbar {
    border-bottom: rgb(183, 183, 183) solid 1px;
}

.progress-navbar li {
    display: inline-block;
    padding: 0px 50px;
}

.progress-navbar li a:hover {
    text-decoration: underline;
}

