* {
  font-family: "Montserrat", sans-serif;
}

.header-about-buttons {
  width: 220%;
  float: left;

  text-align: center;
  margin-left: 350%;
  font-family: "Montserrat", sans-serif;
}

.header-about-button {
  display: inline-block;

  padding: 0px 20px;

  background-color: white;
  border: 1px solid #7f878c;
  border-radius: 12px;
  color: #797979;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;

  padding: 5px;
  /*margin: 4px 2px;*/
}

.header-about-button:hover {
  background-color: #797979;
  color: white;
}

#btn1-about {
  float: left;
}
#btn2-about {
  float: right;
}

.about-gaintracker-text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #000000;
  font-weight: 400;
  font-size: 30px;
  line-height: 49px;
  margin-top: 2%;
}
.about-gaintracker-text p {
  margin-top: 1%;
}

#img-holder-about {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;

  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.about-image {
  width: 12%;
  position: relative;
  padding: 0.5%;

  border-radius: 8%;
}

#img-text-holder-about {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;

  margin-top: 0.2%;
  padding-left: 5%;
  padding-right: 5%;

  font-weight: 400;
  font-size: 120%;
}
.about-text-image {
  width: 12%;
  position: relative;
  padding: 0.5%;
  text-align: center;
}
