<nav>
  <ul class="list-group list-group-horizontal m-0">
    <li class="list-group-item border-0"><a href="/workouts">Workouts</a></li>
    <li class="list-group-item border-0"><a href="/sessions">Sessions</a></li>
    <li class="list-group-item border-0"><a href="/user/progress/measurements">User</a></li>
    <li class="list-group-item border-0">
      <a href="/user/logout"><img src="{{url_for('static', filename='img/logout_icon.png')}}" width="25"
          height="30" /></a>
    </li>
  </ul>
</nav>