{% extends "workouts/base.html" %}
{% block content %}
<div class="container mb-5">
  <form action="add" method="get">
    <div class="d-flex justify-content-between mt-3">
      <div class="d-flex flex-row ">
        {% for muscle in schema.muscles %}
        <div class="flex-column ms-2">
          <input name="muscles" value="{{muscle.id}}" type="checkbox" class="btn-check" id="{{muscle.id}}"
            autocomplete="off" {% if muscle.id in schema.chosen_filters %} checked {% endif %}>
          <label class="px-2 pt-1 rounded rounded-3 exercise-filter" for="{{muscle.id}}">{{muscle.name|title}}</label>
        </div>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-secondary rounded rounded-3 pt-1 apply-filters-button" type="submit">Apply
          filters</button>
      </div>
    </div>
  </form>
  <form action="add" method="post">
    <div class="row row-cols-3 my-3">
      <div class="col offset-md-4">
        <input class="my-4 w-100 rounded rounded-3 text-center border border-2 border-secondary create-workout-name" type="text" name="name"
          placeholder="Set Workout Name Here" autocomplete="off" required />
      </div>
      <div class="col d-flex justify-content-end my-4">
        <button class="btn rounded rounded-3 create-button" type="submit">Create workout</button>
      </div>
    </div>
    <div class="row row-cols-3 gy-3 gx-3">
      {% for exercise in schema.exercises %}
      <div class="col">
        <div class="rounded rounded-4 border border-2 border-secondary h-100 px-4 pb-4">
          <div class="exercise-header my-4 d-flex justify-content-between">
            <input type="checkbox" value="{{ exercise.id }}" name="exercises">
            <p class="m-0 fs-5 exercise-name">{{ exercise.name|title }}</p>
            <div class="excercise-icon-wrapper"><img
                src="{{url_for('static', filename='img/workouts/icons/no_equipment.png' if exercise.equipment == 'not required' else 'img/workouts/icons/equipment.png')}}">
            </div>
          </div>

          <div class="mt-1">
            <p class="lh-sm my-2"> Type: {{ exercise.types|join(", ") }} </p>
            <p class="lh-sm my-2"> Muscles:
              {% set muscles = [] %}
              {% for muscle in exercise.muscles %}
              {{ muscles.append(muscle.name) or "" }}
              {% endfor %}
              {{ muscles|join(", ") }}
            </p>
            {% if exercise.description %}
            <p class="lh-sm my-2"> Description: {{ exercise.description }} </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </form>
</div>

<!-- At least one exercise is chosen -->
<script>
  (function () {
    const form = document.querySelector('#workoutCreation');
    const checkboxes = form.querySelectorAll('input[type=checkbox]');
    const checkboxLength = checkboxes.length;
    const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

    function init() {
      if (firstCheckbox) {
        for (let i = 0; i < checkboxLength; i++) {
          checkboxes[i].addEventListener('change', checkValidity);
        }

        checkValidity();
      }
    }

    function isChecked() {
      for (let i = 0; i < checkboxLength; i++) {
        if (checkboxes[i].checked) return true;
      }

      return false;
    }

    function checkValidity() {
      const errorMessage = !isChecked() ? 'At least one checkbox must be selected.' : '';
      firstCheckbox.setCustomValidity(errorMessage);
    }

    init();
  })();
</script>
{% endblock %}