{% extends "workouts/base.html" %}
{% block content %}
<div class="upper-buttons">
  <ul class="excercise-filters">
    <li><button class="list-button">All</button></li>
    <li><button class="list-button">Chest</button></li>
    <li><button class="list-button">Core</button></li>
    <li><button class="list-button">Booty</button></li>
    <li><button class="list-button">Full Body</button></li>
  </ul>
  <a href="add"><button class="workout-creation-button">Create workout</button></a>
</div>

  {% if workouts == [] %}
    <h3 class="header-empty-list">You do not have any workouts yet. Create them!</h3>
  {% endif %}

<ul class="exersices-container">
  {% for workout in workouts %}
  <li>
    <a href="{{workout.id}}">
      <div class="workout-image-wrapper">
        {% set images = ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo4.jpg', 'photo5.jpg', 'photo6.jpg'] %}
        {% set selected_image = images|random %}
        <img src="{{url_for('static', filename='workouts/img/'+selected_image)}}">
        <p class="workout-name">{{ workout.name }}</p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}