{% extends "workouts/base.html" %}
{% block content %}
<form id="workoutCreation" action="add" method="post">
  <div class="upper-buttons">
    <ul class="excercise-filters">
      <li><button class="list-button">All</button></li>
      <li><button class="list-button">Arms</button></li>
      <li><button class="list-button">Back</button></li>
      <li><button class="list-button">Chest</button></li>
      <li><button class="list-button">Core</button></li>
      <li><button class="list-button">Glutes</button></li>
      <li><button class="list-button">Legs</button></li>
    </ul>
    <button class="workout-creation-button" type="submit">Create workout</button>
  </div>

  <input type="text" name="name" placeholder="Set Workout Name Here" required />
  <ul class="exersice-container">
    {% for exercise in exercises %}
    <li>
      <div class="exercise-wrapper">
        <div class="exercise-header">
          <input type="checkbox" value="{{ exercise.id }}" name="exercises">
          <p class="exercise-name">{{ exercise.name }}</p>
          <div class="excercise-icon-wrapper"><img
              src="{{url_for('static', filename='workouts/img/icons/no_equipment.png' if exercise.equipment == 'not required' else 'workouts/img/icons/equipment.png')}}">
          </div>
        </div>

        <div class="exercise-description">
          <p class="each-punkt"> Type: {{ exercise.type }} </p>
          <p class="each-punkt"> Muscles:
            {% set muscles = [] %}
            {% for muscle in exercise.muscles %}
            {{ muscles.append(muscle.name) or "" }}
            {% endfor %}
            {{ muscles|join(", ") }}
          </p>
          {% if exercise.description %}
          <p class="each-punkt"> Description: {{ exercise.description }} </p>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</form>


<!-- At least one exercise is chosen -->
<script>
  (function () {
    const form = document.querySelector('#workoutCreation');
    const checkboxes = form.querySelectorAll('input[type=checkbox]');
    const checkboxLength = checkboxes.length;
    const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

    function init() {
      if (firstCheckbox) {
        for (let i = 0; i < checkboxLength; i++) {
          checkboxes[i].addEventListener('change', checkValidity);
        }

        checkValidity();
      }
    }

    function isChecked() {
      for (let i = 0; i < checkboxLength; i++) {
        if (checkboxes[i].checked) return true;
      }

      return false;
    }

    function checkValidity() {
      const errorMessage = !isChecked() ? 'At least one checkbox must be selected.' : '';
      firstCheckbox.setCustomValidity(errorMessage);
    }

    init();
  })();
</script>
{% endblock %}