{% extends "workouts/base.html" %}

{% block content %}
<div class="container">
  <div class="row row-cols-3 my-3">
    <div class="col d-flex justify-content-start">
      <form action="/sessions/add" method="GET">
        <input type="hidden" name="workout_id" value="{{workout.id}}" />
        <button class="session-creation-button my-4" type="submit">Create session</button>
      </form>
    </div>
    <div class="col">
      <h1 class="workout-description-name my-4">{{ workout.name }}</h1>
    </div>
    <div class="col d-flex justify-content-end">
      <form action="{{workout.id}}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <button class="workout-delete-button my-4" type="submit">Delete workout</button>
      </form>
    </div>
  </div>

  <div class="row row-cols-3 gy-3 gx-3">
    {% for exercise in workout.exercises %}
    <div class="col">
      <div class="exercise-wrapper h-100 px-4 pb-4">
        <div class="exercise-header d-flex justify-content-between">
          <p class="numbers">{{loop.index}}</p>
          <p class="exercise-name">{{ exercise.name|title }}</p>
          <div class="excercise-icon-wrapper"><img
              src="{{url_for('static', filename='workouts/img/icons/no_equipment.png' if exercise.equipment == 'not required' else 'workouts/img/icons/equipment.png')}}">
          </div>
        </div>

        <div class="exercise-description mt-1">
          <p class="each-punkt my-2"> Type: {{ exercise.types|join(", ") }} </p>
          <p class="each-punkt my-2"> Muscles:
            {% set muscles = [] %}
            {% for muscle in exercise.muscles %}
            {{ muscles.append(muscle.name) or "" }}
            {% endfor %}
            {{ muscles|join(", ") }}
          </p>
          {% if exercise.description %}
          <p class="each-punkt my-2"> Description: {{ exercise.description }} </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}