<!DOCTYPE html>
<html> 
  <head>
    <title>GainTracker</title>
    <link rel = "stylesheet" href = "css/reset.css">
    <link rel = "stylesheet" href = "css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
  </head>
  <body> 
    <header>
      <nav>
        <ul class = "navigation-links">
          <li><a href = "#">Workouts</a></li>
          <li><a href = "#">Sessions</a></li>
          <li><a href = "#">User</a></li>
          <!-- <input class = "search-workout" type = "text" placeholder ="Search workout"> -->
        </ul>
      </nav>
    </header>



    <div class="upper-buttons">
      <ul class="excercise-filters">
        <li><button class="list-button">All</button></li>
        <li><button class="list-button">Chest</button></li>
        <li><button class="list-button">Core</button></li>
        <li><button class="list-button">Booty</button></li>
        <li><button class="list-button">Full Body</button></li>
      </ul>
      <button class="workout-creation-button">Create workout</button>
    </div>


      <ul class="exersices-container">
        <li>
          <div class="workout-image-wrapper"><img src="img/photo1.jpg">
            <p class="workout-name">Stretching</p>
          </div>
        </li>

        <li>
          <div class="workout-image-wrapper"><img src="img/photo2.jpg">
            <p class="workout-name">Full Body</p>
          </div>
        </li>

        <li>
          <div class="workout-image-wrapper"><img src="img/photo5.jpg">
            <p class="workout-name">Cardio</p>
          </div>
        </li>


        <li>
          <div class="workout-image-wrapper"><img src="img/photo4.jpg">
            <p class="workout-name">Toned Arms</p>
          </div>
        </li>


        <li>
          <div class="workout-image-wrapper"><img src="img/photo3.jpg">
            <p class="workout-name">Abs & Core</p>
          </div>
        </li>


        <li>
          <div class="workout-image-wrapper"><img src="img/photo6.jpg">
            <p class="workout-name">Toned Legs</p>
          </div>
        </li>



      </ul>
  </section>

    <!-- <div>


      <div class = "main-body">


        <div class = "workouts-grid">
          <div class = "workout-programs">

            <img class = "widgets" src = "photo1.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>
  
          <div class = "workout-programs">
  
            <img class = "widgets" src = "photo2.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>
  
          <div class = "workout-programs">
  
            <img class = "widgets" src = "photo3.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>

          <div class = "workout-programs">

            <img class = "widgets" src = "photo2.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>
  
          <div class = "workout-programs">
  
            <img class = "widgets" src = "photo1.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>
  
          <div class = "workout-programs">
  
            <img class = "widgets" src = "photo3.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>

          <div class = "workout-programs">

            <img class = "widgets" src = "photo1.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>
  
          <div class = "workout-programs">
  
            <img class = "widgets" src = "photo3.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>
  
          <div class = "workout-programs">
  
            <img class = "widgets" src = "photo2.jpg">
  
  
            <p class = "workout-title"> 
              <strong>Core muscles</strong>
            </p>
  
            <p class = "workout-exercises"> 
              &#183; plank
            </p>
            <p class = "workout-exercises"> 
              &#183; crunches
            </p>
            <p class = "workout-exercises"> 
              &#183; side crunches
            </p>
          </div>
        </div>


      </div>
    </div> -->

  </body>
</html>