{% extends "workouts/base.html" %}

{% block content %}
<div class="container mb-5">
  <div class="row row-cols-3 my-3">
    <div class="col d-flex justify-content-start">
      <form action="/sessions/add" method="GET">
        <input type="hidden" name="workout_id" value="{{workout.id}}" />
        <button class="btn my-4 rounded rounded-3 create-button" type="submit">Create session</button>
      </form>
    </div>
    <div class="col my-4 text-center">
      <h1 class="fs-2">{{ workout.name }}</h1>
    </div>
    <div class="col my-4 d-flex justify-content-end gap-1">
      <div>
        <a href="{{workout.id}}/edit" class="btn btn-outline-secondary rounded rounded-3"> Edit workout
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-sm-2 gy-3 gx-3">
    {% for exercise in workout.exercises %}
    <div class="col">
      <div class="rounded rounded-4 border border-2 border-secondary h-100 px-4 pb-4">
        <div class="exercise-header my-4 d-flex justify-content-between">
          <h4 class="m-0">{{loop.index}}</h4>
          <h4 class="m-0">{{ exercise.name|title }}</h4>
          <div class="excercise-icon-wrapper"><img
              src="{{url_for('static', filename='img/workouts/icons/no_equipment.png' if exercise.equipment == 'not required' else 'img/workouts/icons/equipment.png')}}">
          </div>
        </div>

        <div class="mt-1">
          <p class="lh-sm my-2"> Type: {{ exercise.types|join(", ") }} </p>
          <p class="lh-sm my-2"> Muscles:
            {% set muscles = [] %}
            {% for muscle in exercise.muscles %}
            {{ muscles.append(muscle.name) or "" }}
            {% endfor %}
            {{ muscles|join(", ") }}
          </p>
          {% if exercise.description %}
          <p class="lh-sm my-2"> Description: {{ exercise.description }} </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}