{% extends "auth/base.html" %}
{% block styles_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/css/measurements.css')}}" />
{% endblock %}


{% block header_measurements %}
<nav>
  <ul class="navigation-links">
    <li><a href="#">Workouts</a></li>
    <li><a href="#">Sessions</a></li>
    <li><a href="#">User</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="measurements-add-container">
  <p>
    Add measurements to<br />
    track the progress!
  </p>

  <form method="post">
    <div class="measurements-placeholder">
      <input type="number" placeholder="weight" name="weightm" />
    </div>
    <div class="measurements-placeholder">
      <input type="number" placeholder="chest" name="chestm" />
    </div>
    <div class="measurements-placeholder">
      <input type="number" placeholder="waist" name="waistm" />
    </div>
    <div class="measurements-placeholder">
      <input type="number" placeholder="hips" name="hipsm" />
    </div>

    <div>
      <button class="add-meas-button" type="submit">add</button>
    </div>
  </form>
</div>
{% endblock %}