{% extends "auth/base.html" %}
{% block styles_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/css/measurements.css')}}" />
{% endblock %}


{% block header_measurements %}
<nav>
  <ul class="navigation-links">
    <li><a href="/workouts">Workouts</a></li>
    <li><a href="/sessions">Sessions</a></li>
    <li><a href="/user/progress/measurements">User</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<div class="measurements-add-container">
  <p>
    Add measurements to<br />
    track the progress!
  </p>

  <form method="post">
    <div class="measurements-placeholder">
      <input type="number" step="0.01" placeholder="weight" name="weight" />
    </div>
    <div class="measurements-placeholder">
      <input type="number" step="0.01" placeholder="chest" name="chest" />
    </div>
    <div class="measurements-placeholder">
      <input type="number" step="0.01" placeholder="waist" name="waist" />
    </div>
    <div class="measurements-placeholder">
      <input type="number" step="0.01" placeholder="hips" name="hips" />
    </div>

    <div>
      <button class="add-meas-button" type="submit">add</button>
    </div>
  </form>
</div>
{% endblock %}