<!DOCTYPE html>
<html lang="en">
  <head>
    <title>measurements/add</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/css/reset.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/css/style.css')}}" />
    {% block styles_css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
        {% block header_about %}{% endblock %}
        {% block header_measurements %}{% endblock %}
        {% block header_logo %}{% endblock %}
    </header>

    {% block content %}{% endblock %}
  </body>
</html>