{% extends "auth/base.html" %}
{% block styles_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/css/login.css')}}" />
{% endblock %}


{% block header_logo %}
<a href="/about">
  <div class="header-title">
    <h1>GainTracker</h1>
  </div>
</a>
{% endblock %}
{% block content %}

<div class="container mt-5 w-50 border border-dark rounded rounded-5 text-center login-container">
  <div class="mt-5">
    <h2>
      Hi there,
      <br />
      Log into account
    </h2>
  </div>

  <div class="mt-4">
    <form method="post" action="login">
      <div class="container text-center">
        <div>
          <input class="mb-3 ps-3 rounded rounded-4 border border-dark log-in-placeholder" type="text" placeholder="username or email" name="username_or_email" required />
        </div>
        <div>
          <input class="ps-3 rounded rounded-4 border border-dark log-in-placeholder" type="password" placeholder="password" name="password" required />
        </div>
      </div>

      <div class="container mt-4 w-100 text-center">
        <button class="btn btn-outline-secondary px-5 rounded rounded-4 border border-dark login_button" type="submit">Log in</button>
      </div>
      <div class="my-3 dont_have_ac">
        Don't have account yet? 
        <br />
        <a href="signup" class="sign_up_link">Sign up</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}