{% extends "auth/base.html" %}

{% block content %}
<div class="container mt-5 w-50 border border-dark rounded rounded-5 text-center signup-container">
  <div class="mt-5">
    <h2>
      Hi there,
      <br />
      create an account!
    </h2>
  </div>

  <div class="mt-4">
    {% if error %}
    <div class="alert alert-warning" role="alert">
      {{error.message}}
    </div>
    {% endif %}
    <form method="post" action="signup">
      <div class="container row row-cols-lg-2 row-cols-sm-1 signup-buttons text-center">
        <div class="col">
          <div class="mt-3 signup-placeholder">
            <input class="ps-3 w-100 fs-4 rounded rounded-4 border border-dark" type="text" placeholder="first name"
              name="first_name" autocomplete="off" required />
          </div>
          <div class="mt-3 signup-placeholder">
            <input class="ps-3 w-100 fs-4 rounded rounded-4 border border-dark" type="text" placeholder="last name"
              name="last_name" autocomplete="off" required />
          </div>
          <div class="mt-3 signup-placeholder">
            <input class="ps-3 w-100 fs-4 rounded rounded-4 border border-dark" type="text" placeholder="username"
              name="username" autocomplete="off" required />
          </div>
        </div>
        <div class="col">
          <div class="mt-3 signup-placeholder">
            <input class="ps-3 w-100 fs-4 rounded rounded-4 border border-dark" type="text" placeholder="birthday date"
              name="birthday" onfocus="(this.type='date')" onblur="(this.type='text')" required /><span
              class="validity"></span>
          </div>
          <div class="mt-3">
            <select name="sex"
              class="form-select form-select-sm sex-select ps-3 w-100 py-0 fs-4 rounded rounded-4 border border-dark">
              <option value="none" selected>sex</option>
              <option value="male">male</option>
              <option value="female">female</option>
              <option value="other">other</option>
            </select>
          </div>
          <div class="mt-3 signup-placeholder">
            <input class="ps-3 w-100 fs-4 rounded rounded-4 border border-dark" type="password" placeholder="password"
              name="password" required />
          </div>
        </div>
      </div>
      <div class="container mt-4 w-100 text-center">
        <button class="btn btn-outline-secondary px-5 fs-4 rounded rounded-4 border border-dark"
          type="submit">Create</button>
      </div>
      <div class="my-3 fs-4">
        Already have account? <br />
        <a href="login" class="goto_login_or_signup">Log In</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}