{% extends "auth/base.html" %}
{% block styles_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/css/signup.css')}}" />
{% endblock %}


{% block header_logo %}
<a href="#">
  <div class="header-title">
    <h1>GainTracker</h1>
  </div>
</a>
{% endblock %}
{% block content %}
<div class="signup-container">
  <p>
    Hi there, <br />
    create an account!
  </p>

  <form method="post" action="signup">
    <div class="signup-buttons">
      <div class="signup-placeholder">
        <input type="text" placeholder="username" name="username" required />
      </div>
      <div class="signup-placeholder">
        <input type="text" placeholder="birthday date" name="birthday" onfocus="(this.type='date')"
          onblur="(this.type='text')" required /><span class="validity"></span>
      </div>
      <div class="signup-placeholder">
        <input type="text" placeholder="first name" name="first_name" required />
      </div>
      <div class="signup-placeholder">
        <input type="text" placeholder="last name" name="last_name" required />
      </div>
      <div class="signup-placeholder">
        <input type="password" placeholder="password" name="password" required />
      </div>

      <div class="sex-custom-select">
        <select name="sex">
          <option value="none" selected>sex</option>
          <option value="male">male</option>
          <option value="female">female</option>
          <option value="other">other</option>
        </select>
      </div>
    </div>

    <div>
      <button class="signup_button" type="submit">create</button>
    </div>
    <div class="dont_have_ac">
      Already have account? <br /><a href="login" class="sign_up_linc">Log In</a>
    </div>
  </form>
</div>
{% endblock %}