body {
  font-family: "Montserrat", sans-serif;
  color: #7f878c;
}

.login-container h2 {
  color: #7f878c;
}

.log-in-placeholder {
  font-size: 24px;
}

.login_button {
  font-size: 24px;
}

.dont_have_ac {
  font-size: 24px;
}

.sign_up_link {
  font-size: 20px;
  text-decoration: underline;
  color: #7f878c;
}
