body {
  font-family: "Montserrat", sans-serif;
  color: #7f878c;
}

.measurements-add-container {
  border-radius: 24px;
}

.measurement input {
  border-radius: 10px;
}

.add-meas-button {
  border-radius: 12px;
  background-color: white;
  color: #797979;
  cursor: pointer;
}

.add-meas-button:hover {
  background-color: #797979;
  color: white;
  border: 1px solid #7f878c;
}