body {
  font-family: "Montserrat", sans-serif;
  color: #7f878c;
}

.signup-placeholder input {
  font-size: 24px;
}

.signup_button {
  background-color: white;
  font-size: 24px;
}

.sex-custom-select select {
  line-height: 35px;
  font-size: 24px;
  color: #7f878c; 
}

.already_have_ac {
  font-size: 24px;
}

.login_up_link {
  font-size: 20px;
  text-decoration: underline;
  color: #7f878c;
}