{% extends "progress/base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  {% autoescape false %}
  const schema = {{ schema }}
  {% endautoescape %}

  function show_chart(graph_itr) {
    data = {
      datasets: [{
        data: schema.measurement_records[graph_itr].coordinates.map(row => ({ x: row.date, y: row.value })),
        label: schema.measurement_records[graph_itr].graph_name,
        tension: 0.5,
      }]
    }
    config = {
      type: 'line',
      data: data,
      options: {
      }
    }
    new Chart(document.getElementById('myChart_' + graph_itr), config);
  }
</script>

<div class="container-fluid mt-4">
  <div class="row row-cols-4">
    {% for chart in schema.measurement_records %}
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <p class="fs-4">{{ chart.graph_name|title }}</p>
          <canvas id="myChart_{{loop.index - 1}}">
            <script>show_chart({{ loop.index - 1 }})</script>
          </canvas>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}