body {
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.no-records {
    margin-top: 100px;
}

.create-button {
    border: 1px solid #749471;
    background-color: white;
    color: #749471;
}

.create-button:hover {
    border: 1px solid #749471;
    background-color: #749471;
    color: white;
}

.workout-list-name {
    position: absolute;
    top: 30px;
    left: 25px;
}

.workout-image-wrapper {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.workout-image-wrapper img {
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.workout-info-name {
    color: rgb(93, 93, 93);
}

.delete-button {
    border: 1px solid rgb(121, 48, 48);
    background-color: white;
    color: rgb(121, 48, 48);
}

.delete-button:hover {
    border: 1px solid rgb(121, 48, 48);
    background-color: rgb(121, 48, 48);
    color: white;
}

.exercise-wrapper {
    border: solid #7F878C;
}

.exercise-header {
    color: rgb(93, 93, 93);
    align-items: center;
}

.excercise-icon-wrapper {
    width: 32px;
}

.excercise-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.exercise-filter {
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.btn-check:checked+.exercise-filter,
.exercise-filter:hover {
    background-color: rgb(155, 155, 155);
    color: white;
}

.apply-filters-button {
    border-color: grey;
    height: 30px;
}

.apply-filters-button:hover {
    background-color: grey;
}

.create-workout-name {
    border: solid #7F878C;
    height: 40px;
}