li,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    box-sizing: border-box;
    height: 100px;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    padding: 0;
    border-bottom: rgb(183, 183, 183) solid 1px;
}

.navigation-links {
    list-style: none;
}

.navigation-links li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation-links li a:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: underline;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    padding: 10%;
}

.widgets {
    display: block;
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
}

.search-workout {
    margin-bottom: 10px;
    display: inline-block;
    border: black;
    border: solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 12px;
    border-radius: 5px;
    border-style: solid;
    border-style: solid;
    border-width: 1.5px;
}

/* Workout Section */

.list-button {
    font-size: 14px;
    border-radius: 8px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: grey;
    color: grey;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.btn-check:checked+.list-button,
.list-button:hover,
.list-button.active,
.list-button.show,
.list-button:first-child:active,
:not(.btn-check)+.list-button:active {
    background-color: rgb(155, 155, 155);
    color: white;
}

.workout-creation-button {
    font-size: 14px;
    border-radius: 8px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #749471;
    border-color: #749471;
    border-style: solid;
    border-width: 1px;
}

.apply-filters-button {
    border-color: grey;
    color: grey;
    height: 30px;
}

.workout-creation-button:hover {
    font-size: 14px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: #749471;
    border: #749471;
    color: white;
    border-style: solid;
    border-width: 1px;
}

.apply-filters-button:hover {
    background-color: grey;
    border-color: grey;
}

.create-button {
    display: inline-block;
    border-radius: 8px;
    height: 30px;
    margin-left: 110px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: #749471;
    color: #749471;
    border-style: solid;
    border-width: 1px;
}

.create-button:hover {
    font-size: 14px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: #749471;
    border: #749471;
    color: white;
    border-style: solid;
    border-width: 1px;
}

.creating-workout {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: large;
    color: black;



}




/*
.exersices-container {
    margin: 0px 100px;
}

.exersices-container>* {
    display: inline-block;
    width: calc((100% - 68px) / 3);
    margin: 0px 10px 25px 10px;
}*/

.workout-image-wrapper {
    position: relative;
    border-radius: 4%;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.workout-image-wrapper img {
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workout-name {
    position: absolute;
    color: white;
    font-size: 24px;
    top: 30px;
    left: 25px;
}




.timer-wrapper {
    display: flex;
    flex-direction: row;
    vertical-align: top;
    position: absolute;
    bottom: 30px;
    left: 25px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

.icon-wrapper {
    margin: 5px 10px;
    width: 20px;
    height: 20px;
}

.icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timer-wrapper p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 50px;
    height: 30px;
}


/* Excerises */
.excercise-filters>* {
    display: inline-block;
}


.workout-name-input {
    /* margin-left: 36.5%; */
    font-size: 20px;
    border-radius: 11px;
    border: solid;
    border-color: #7F878C;
    color: #7F878C;
    height: 40px;
    /* width: 375px; */
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}


/* .exersice-container {
    margin: 0px 100px;
}



.exersice-container>* {
    display: inline-block;
    width: calc((100% - 88px) / 3);
    margin-right: 40px;
    margin-top: 40px;
}

.exersice-container :nth-child(3) {
    margin: 0px;
} */


.exercise-wrapper {
    height: 280px;
    border-radius: 20px;
    border-width: 1px;
    /* margin: 0; */
    /* overflow: hidden; */
    border: #7F878C;
    background-color: white;
    border-style: solid;
}

.exercise-header {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.exercise-header input {
    height: 15px;
    width: 15px;
}


.exercise-name {
    color: rgb(93, 93, 93);
    font-size: 20px;
    top: 30px;
    left: 115px;
    font-family: 'Montserrat', sans-serif;

}

.excercise-icon-wrapper {
    width: 32px;
}

.excercise-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exercise-description {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.each-punkt {
    line-height: normal;
}

/* Excersices static */
.numbers {
    color: rgb(93, 93, 93);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    /* top: 30px; */
    width: 15px;
    /* margin-right: 15px; */
    /* margin-left: 30px; */
}

.workout-description-name {
    font-size: 30px;
    height: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    /* margin: 0px 30px; */
}

.workout-delete-button {
    /* margin-top: 20px; */
    font-size: 14px;
    border-radius: 8px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: rgb(121, 48, 48);
    color: rgb(121, 48, 48);
    border-style: solid;
    border-width: 1px;
}


.workout-delete-button:hover {
    font-size: 14px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(121, 48, 48);
    border: rgb(121, 48, 48);
    color: white;
    border-style: solid;
    border-width: 1px;
}

.session-creation-button {
    /* margin-top: 20px; */
    font-size: 14px;
    border-radius: 8px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: #749471;
    color: #749471;
    border-style: solid;
    border-width: 1px;
}


.session-creation-button:hover {
    font-size: 14px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: #749471;
    border: #749471;
    color: white;
    border-style: solid;
    border-width: 1px;
}

.header-empty-list {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin: 100px 0px 20px 0px;
}